
<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>

    <title>KARP SMSServer</title>
    <!-- HTML5 Shim and Respond.js IE11 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 11]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="">
    <meta name="author" content="Codedthemes" />
    <!-- Favicon icon -->
    <link rel="icon" th:href="@{/themes/assets/images/favicon.ico}" type="image/x-icon">

    <!-- vendor css -->
    <link rel="stylesheet" th:href="@{/themes/assets/css/style.css}">




</head>

<!-- [ auth-signin ] start -->
<div class="auth-wrapper">
    <div class="auth-content">
        <div class="card">
            <div class="row align-items-center text-center">
                <div class="col-md-12">
                    <div class="card-body">
                        <img th:src="@{/themes/assets/images/logo-dark.png}" alt="" class="img-fluid mb-4">
                        <h4 class="mb-3 f-w-400">SMS Server Signin</h4>
                        <form class="pt-3" th:action="@{/auth/newlogin}" method="POST" >
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="feather icon-mail"></i></span>
                                </div>
                                <input type="text" id="email" name="email" class="form-control" placeholder="Email address">
                            </div>
                            <div class="input-group mb-4">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="feather icon-lock"></i></span>
                                </div>
                                <input type="password"  id="password" name="password" class="form-control" placeholder="Password">
                            </div>
                            <div class="form-group text-left mt-2">
                                <div class="checkbox checkbox-primary d-inline">
                                    <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked="">
                                    <label for="checkbox-fill-a1" class="cr"> Save credentials</label>
                                </div>
                            </div>
                            <div align="center" th:if="${param.error}">
                                <p style="font-size: 20; color: #FF1C19;">Invalid Username or Password </p>
                            </div>
                            <button type="submit" class="btn btn-block btn-primary mb-4">Signin</button>
                            <p class="mb-2 text-muted">Forgot password? <a th:href="@{/auth/login}" class="f-w-400">Reset</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ auth-signin ] end -->

<!-- Required Js -->
<script th:src="@{/themes/assets/js/vendor-all.min.js}"></script>
<script th:src="@{/themes/assets/js/plugins/bootstrap.min.js}"></script>
<script th:src="@{/themes/assets/js/waves.min.js}"></script>



</body>

</html>
